*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.m-height-screen {
  min-height: 100vh;
}

.m-height-half-screen {
  min-height: 50vh;
}

.bg-container-fluid {
  background-color: #fafafa;
}

.bg-container {
  background-color: #fff;
}

.bg-content {
  background-color: #fff;
}

.text-darken {
  color: black;
}

.text-primary {
  color: #0069d9;
}

.btn-primary {
  background-color: #0069d9;
}

.fire-icon {
  color: #b73939;
}

small {
  font-size: 0.75rem;
}

.icon-wrapper {
  font-size: 1em;
}

.icon-wrapper a {
  color: black;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.icon-wrapper a:hover {
  color: #0069d9;
}

.icon-wrapper .active {
  color: #0069d9;
}

.icon-wrapper .badge {
  font-size: 10px;
}

.recent-projects p {
  font-weight: 600;
}

.recent-project p {
  font-size: 1rem;
}

.recent-project a {
  font-size: 1rem;
}

.project-item {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.project-item p {
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
}

.project-item .badge {
  font-size: 0.7em;
}

.project-item .members {
  font-size: 0.8em;
}

.project-item:hover {
  background-color: #d3d9de;
  cursor: pointer;
}

.project-item .link {
  color: #0069d9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.project-item .link:hover {
  text-decoration: underline;
}

.project-item .category {
  font-size: 0.8em;
  font-weight: 600;
}

.center-column {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.right-column {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.sidenav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-wrapper {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.search-wrapper .suggestions {
  width: 100%;
  z-index: 10;
  background: #fff;
  font-size: 1rem;
}

.search-wrapper .suggestions .suggestion {
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-wrapper .suggestions .suggestion:hover {
  background-color: #d3d9de;
  cursor: pointer;
}

.filter-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.3rem;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
}

.filter-icon:hover {
  color: #0069d9;
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-color: #d0d5da;
}

.search-input:focus {
  border-color: #5e6974 !important;
}

.border-secondary {
  border-color: #d3d9de !important;
}

.profile-desc p,
.profile-desc textarea {
  font-size: 1rem;
  line-height: 30px;
}

.profile-desc textarea {
  width: 100%;
  height: 17rem;
}

.profile-desc textarea::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.profile-desc textarea::-webkit-scrollbar-thumb {
  background: #ff0000;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px;
  }
}
/*# sourceMappingURL=global.css.map */